.wrapper {

  margin: 1rem;
}


body {
  background-image: url(/images/fathers_grave.jpg);
  font-family: 'Julius Sans One', sans-serif;
}

header{
  border-radius: 10px;
  background-image: url(/images/cracked_wood.jpg);
  filter: drop-shadow(1px 10px 10px #6e6e6e);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main{
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  align-self:center;
  margin-bottom: -10px;
  max-width: 100%;
  display: flex;
  color: rgb(212, 212, 212);
  font-weight: 40;
  font-size: 100px;
}

h2 {

  justify-content: center;
  max-width: 100%;
  display: flex;
  color: rgb(212, 212, 212);
  font-weight: 40;
  font-size: 18px;
}

nav {
  max-width: 100%;
  justify-content: center;
  color: rgb(71, 71, 71);
  
  font-size: 25px;
}

ul,
li {
  list-style-type: none;
  float: left;
}

li a {
  display: block;
  color: rgb(184, 184, 184);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:link {
  color: rgb(156, 156, 156);
  text-decoration: none;
}


a:visited {
  color: rgb(184, 184, 184);
  text-decoration: none;
}

a:hover {
  transition: ease-in-out, 2s;
  color: rgb(255, 255, 255);
  filter: drop-shadow(1px 10px 10px #ffffff);
  text-decoration: none;
}

a:active {
  color: rgb(176, 176, 238);
  text-decoration: none;
}

.footer {
  display: flex;
  background-color: white;
  justify-content: flex-end;
}