.wrapper{
 
  margin: 3rem;
}


body{
  background-image: url(/images/fathers_grave.jpg);
  font-family: "Open Sans", sans-serif;
}



.header {
  
  margin-bottom: -10px;
  justify-content: center;
  max-width: 100%;
  display: flex;
  color: rgb(184, 184, 184);
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 40;
  font-size: 100px;
 
 
}

.navbar {

  opacity: 1;
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  justify-content: center;
  color: rgb(184, 184, 184);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  
  





}

ul, li {
  list-style-type: none;
  float: left;
}



li a {
  display: block;
  color: rgb(184, 184, 184);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bar {
  padding-top: 16px;
}

/* unvisited link */
a:link {
  color: rgb(184, 184, 184);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(184, 184, 184);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  transition: ease-in-out, 2s;
  color: rgb(71, 71, 71);
  text-decoration: none;
}

/* selected link */
a:active {
  color: rgb(176, 176, 238);
  text-decoration: none;
}

.footer{
  display: flex;
  background-color: white;
  justify-content: flex-end;
}